<td><% if visitor.name %>
  		<%= visitor.name %>
  	<% else %>
  		<%= link_to "Ingresar Nombre", edit_visitor_path(:id => visitor.id) %>
  	<% end %>
</td>

<td><%= visitor.rut if visitor.rut %> </td>
<td><%= visitor.created_at.strftime("%F %H:%M:%S") if visitor.created_at %> </td>
<td><%= visitor.patente if visitor.patente %></td>
<td><%= visitor.resident.address if visitor.resident %></td>