<%= link_to("Volver al listado de Visitas", {:action => 'index'}, :class => 'back-link') %>

<div class="visitas new">
	<h2>Actualizar información de  Visita</h2>
	<h3>Patente <%= @visitor.patente %></h3>
	<%= form_for(:visitor, method: "patch", :url => {:action => 'update'}) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<div class="form-buttons">
			</br>
			<%= submit_tag "Actualizar Información", :class => 'button-xs' %>
		</div>
	<% end %>
</div>