<%# add navigation links to this file %>
<li><%= link_to 'Info', page_path('about') %></li>
<li><%= link_to 'Tráfico Visitas', visitors_path %></li>
<li><%= link_to 'Tráfico Residentes', plates_path %></li>
<li><%= link_to 'Información Residentes', residents_path %></li>

<%= render 'layouts/nav_links_for_auth' %>